[2020-07-02 20:44] iRayan7 opened #5 "No podspec file was found."
Hey, thanks for the great work!

Whenever I `pod install` inside `ios/` I get this warning:
[code]

<details>
<summary>react-native info</summary>

System:
  Binaries:
    Node: 10.15.1 - /usr/local/bin/node
    Yarn: 1.21.1 - ~/n/bin/yarn
    npm: 6.4.1 - ~/n/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  Managers:
    CocoaPods: 1.7.1 - /usr/local/bin/pod
  SDKs:
    iOS SDK:
      Plat

[2020-07-03 19:12] EkaanshArora commented on #5
Hey, can you check if you can use the library still if you just ignore this error?

[2020-07-08 08:39] Pranav-19 opened #6 "callbacks for fullscreen, mute audio/video not getting executed."
Callback functions which I am passing for fullscreen, mute audio/video buttons are not getting executed.
This is the callbacks object I am passing -
{
	onEndCall: () => { this.setState({ videoCall: false }) }
	onFullScreen: ()=>{ this.onFullScreen()}
}
The callback for endcall is working fine but FullScreen is not getting executed. Same is the issue for mute audio/video buttons.

[2020-07-24 13:42] technophilic commented on #6
Hey, can you check if you are facing this in the latest version?
It has been updated to v3 of the Agora React Native SDK

[2020-08-06 16:55] davisuga opened #10 "Component not working at all."
[code]
[Thu Aug 06 2020 13:50:22.921]  ERROR    TypeError: undefined is not an object (evaluating 'o.Types.VideoRenderMode')
[Thu Aug 06 2020 13:50:22.922]  ERROR    Invariant Violation: Module AppRegistry is not a registered callable module (calling runApplication)
[Thu Aug 06 2020 13:50:22.922]  ERROR    Invariant Violation: Module AppRegistry is not a registered callable module (calling runAppl

[2020-08-07 11:28] #10 closed

[2020-09-02 15:13] davisuga commented on #5
The library just can't be actually used on iOS.

[2020-09-09 00:14] davisuga opened #12 "Component not working in iOS"
A green rectangle appears on the screen instead of the camera view
![iosbug (1)](https://user-images.githubusercontent.com/33470530/92539608-50fb3a00-f218-11ea-8be6-1b40cb6d9e13.png)

[2020-09-09 14:32] technophilic commented on #12
IOS simulator doesn't support cameras. Please use a physical device to test instead.

[2020-09-09 14:32] #12 closed

[2020-09-11 21:53] davisuga opened #13 "Error 'engine.current.leaveChannel'"
Error 'engine.current.leaveChannel' shows when the component is mounted.
![bug](https://user-images.githubusercontent.com/33470530/92976014-f0f6d480-f45f-11ea-966a-56591a18ece7.PNG)

[2020-09-12 19:58] ShadyStego opened #14 "Video is not showing on an ios device"
I'm running the basic example with the <AgoraUIKit/> component. The 5 control buttons are displayed at the bottom, but the video is not displayed & the camera is not turned on.
![Screenshot 2020-09-12 at 12 59 45 PM](https://user-images.githubusercontent.com/6054688/93003983-10d9d700-f4f8-11ea-8dbc-a942b316a3f1.png)

Here's what I see on the log:

[code]

[2020-11-09 11:09] abrarqureshi opened #15 "Showing blank Screen."
Not able to run this code only white blank screen showing.

[2020-11-09 22:29] bdsumon4u commented on #14
#Video is not showing on android device also..
##It's showing a black screen.

[2020-11-09 22:30] bdsumon4u commented on #15
I'm also having a black screen.

[2020-11-16 07:06] technophilic commented on #15
Hey! I just tested out the application it works fine and I'm able to see the video etc. I have updated the Readme to add more info around steps to run. Please let me know if this fixes your issue.

If not, Can you please fill out this template:

**Target device:** (Note: simulators are not supported for running the UIKit)
 - Device: [e.g. iPhone6]
 - OS:
   - [X] IOS
   - [ ] Android
 - OS Version

[2020-11-16 07:08] technophilic commented on #14
Sorry for the delayed response. I just tested out the application, it works fine and I'm able to see the video etc. I have updated the Readme to add more info around steps to run. Please let me know if this fixes your issue.

If not, Can you please fill out this template:

**Target device:** (Note: simulators are not supported for running the UIKit)
 - Device: [e.g. iPhone6]
 - OS:
   - [X] IOS

[2020-11-16 07:12] technophilic commented on #5
This library is a pure JS library. It has no native modules and it won't require any podspec file. We'll be removing the android and ios folders in the next update. @davisuga The issue w IOS might probably be around permissions not present not the podspec.

[2020-11-16 07:12] #5 closed

[2020-11-16 07:13] #6 closed

[2020-11-16 07:13] technophilic commented on #6
Closed due to inactivity

[2020-11-16 07:15] technophilic commented on #13
Sorry for the delayed response, was the native module (Agora react native SDK) installed?

[2020-11-16 07:16] technophilic commented on #13
I have updated the Readme to add more info around steps to run. Please let me know if this fixes your issue.

If not, Can you please fill out this template:

**Target device:** (Note: simulators are not supported for running the UIKit)
 - Device: [e.g. iPhone6]
 - OS:
   - [X] IOS
   - [ ] Android
 - OS Version: [e.g. 22, 14.1]

**App Info** (Note: Expo CLI managed workflow is not supported by the

[2021-01-16 17:50] asadadams commented on #14
@bdsumon4u did you find a solution

[2021-01-16 17:51] asadadams commented on #14
@technophilic I'm also getting a black screen , Any solution

[2021-01-16 19:45] bdsumon4u commented on #14
I haven't tried it again.

[2021-01-16 19:50] asadadams commented on #14
O okay thanks, did you find any new service to implement the video call or you tried something elsee

[2021-01-16 20:01] bdsumon4u commented on #14
Fortunately I got rid of video calling service from that project. So, I hadn't try anything else.

[2021-01-21 15:46] ismaelash opened #16 "rtcProps token"
Add token param on rtcProps no Readme

**Target device:** (Note: simulators are not supported for running the UIKit)
 - Device: [e.g. iPhone6]
 - OS:
   - [X] IOS
   - [ ] Android
 - OS Version: [e.g. 22, 14.1]

**App Info** (Note: Expo CLI managed workflow is not supported by the UIKit)
 - Type:
   - [X] React Native CLI
   - [ ] Expo CLI - bare workflow
 - CLI Version: [e.g. 22]

**Describe the

[2021-02-01 09:18] #15 closed

[2021-02-01 09:18] #13 closed

[2021-02-01 09:19] technophilic commented on #16
Thanks for the feedback, I'll document the `rtcProps` object

[2021-02-01 09:22] technophilic commented on #14
If anybody else is facing the blank screen problem, please raise a new GitHub issue and fill up the issue template that helps us in debugging your issues. A blank screen can happen because of a number of reasons and without all the right information it is not possible to point out the problem.

[2021-02-01 09:22] #14 closed

[2021-02-02 17:49] duasfh commented on #15
only blank (white) screen too. Android version. Loggin works fine, but only showing white screen.
To reproduce -- only install and run

[2021-03-24 22:49] MahmoudShaeer opened #17 "crashed in release version"
when generate release apk and open screen of chatting video carshed

[2021-04-06 09:33] technophilic commented on #17
Did the development build work out for you?

[2021-05-03 12:31] Prithhiraj commented on #17
debug build is working....but the app crashed in release build

[2021-05-06 11:56] EkaanshArora commented on #17
Hi, have you tried the latest version? I used the example and was able to build the release apk just fine. Can you provide the code to reproduce the issue?

[2021-05-06 11:57] EkaanshArora commented on #16
We've updated the documentation for the latest release with all the props documented here https://agoraio-community.github.io/ReactNative-UIKit/interfaces/propsinterface.html

[2021-05-06 11:57] #16 closed

[2021-05-12 09:08] Shivani12345 opened #21 "white screen visible when run debug app in android device"
I run this to device,but  I got always white screen in android device.

[2021-05-12 16:47] EkaanshArora commented on #21
What version of the SDK are you using? Can you try using this [example](https://github.com/AgoraIO-Community/ReactNative-UIKit/wiki/Examples#basic-example)?

[2021-05-13 19:23] EkaanshArora commented on #17
Closing due to inactivity, feel free to reopen if you have issues :)

[2021-05-13 19:23] #17 closed

[2021-05-15 16:57] maxxfrazer commented on #21
@Shivani12345 it could be that the App ID is not correctly set in your test

[2021-05-25 19:58] EkaanshArora commented on #21
Closing due to inactivity.

[2021-05-25 19:58] #21 closed

[2021-05-26 12:11] maxxfrazer opened #23 "Security Issues from Dependencies"
**Target device:** (Note: simulators are not supported for running the UIKit)
All

**App Info** (Note: Expo CLI managed workflow is not supported by the UIKit)
N/A

**Describe the issue**
There are security flags on this package. Specifically:
[code]

**To Reproduce**
Some of the security issues are shown [here](https://github.com/AgoraIO-Community/ReactNative-UIKit/security/dependabot)
Others fla

[2021-05-27 12:22] AahilShahzad opened #24 "Showing Blank screen"
**Target device:** (Note: simulators are not supported for running the UIKit)
 - Device: [ iPhone 8 plus]
 - OS:
   - [IOS] IOS
   - [ ] Android
 - OS Version: [14.5]

**App Info** (Note: Expo CLI managed workflow is not supported by the UIKit)
 - Type:
   - [Yes] React Native CLI
   - [ ] Expo CLI - bare workflow
 - CLI Version: [e.g. 22]

**Describe the issue**
showing blanks screen with error h

[2021-05-27 12:23] AahilShahzad commented on #24
showing blank screen on both IOS and Android

[2021-05-27 15:19] EkaanshArora commented on #24
Error 110 is for token expired/incorrect.
To run the project either use an App ID without a token (and pass the token as null). Or you can use a temporary token generated from the console (or using your own token server).

[2021-05-28 07:05] AahilShahzad commented on #24
I'm running without token I  just create project in console agora and copy App ID from there and post in code.

[2021-05-28 07:09] AahilShahzad commented on #24
here is code

<img width="1108" alt="Screenshot 2021-05-28 at 12 06 07 PM" src="https://user-images.githubusercontent.com/13553516/119944288-8239b700-bfad-11eb-974c-94b6e1790d7e.png">

[2021-05-28 07:11] AahilShahzad commented on #24
here is console project
<img width="1389" alt="Screenshot 2021-05-28 at 12 10 20 PM" src="https://user-images.githubusercontent.com/13553516/119944489-c4fb8f00-bfad-11eb-9934-ec614aea2ee5.png">

[2021-05-28 07:16] AahilShahzad commented on #24
its done
thanks for help

[2021-05-31 21:29] #24 closed

[2021-06-01 15:55] maxxfrazer commented on #23
@EkaanshArora could you take a look at this this week?

[2021-06-03 15:16] EkaanshArora commented on #23
I've updated the UI Kit to v3.1.3 with updated dependencies that have the vulnerabilities fixed.

[2021-06-11 13:38] maxxfrazer commented on #23
@EkaanshArora looks like Black Duck is still seeing the following vulnerabilities:
![image](https://user-images.githubusercontent.com/5754073/121695164-b4c1d480-cac2-11eb-8117-b81ec418d6af.png)

[2021-06-11 13:41] maxxfrazer commented on #23
dependabot has opened a PR for one of them #25

[2021-06-21 02:55] wann2 opened #28 "ERROR Invariant Violation: Module AppRegistry is not a registered callable module"
**Target device:** (Note: simulators are not supported for running the UIKit)
 - Device: [e.g. iPhone6]
 - OS:
   - [X] IOS
   - [x] Android
 - OS Version: [e.g. 22, 14.1]

**App Info** (Note: Expo CLI managed workflow is not supported by the UIKit)
 - Type:
   - [X] React Native CLI
   - [ ] Expo CLI - bare workflow
 - CLI Version: [e.g. 22]

**Describe the issue**
 **ERROR  Invariant Violation:

[2021-06-22 11:29] EkaanshArora commented on #28
This repo is the source code for the UI Kit, it isn't intended to be built and ran like your comment.
You can find a demo project utilising the UI Kit [here](https://github.com/AgoraIO-Community/ReactNative-UIKit-example). You can clone and run this instead. I'll update the readme to reference this for the future.

There's also a [setup guide](https://github.com/AgoraIO-Community/ReactNative-UIKit

[2021-06-23 10:18] nghia703 opened #29 "Camera and micro don't work"
Hi @EkaanshArora

I have built and can ran the project. The permission for camera, micro are granted but an error 109 occurred in the console
The camera and micro don't work, the screen always black as screenshot below

![image](https://user-images.githubusercontent.com/16395307/123079420-221c2080-d446-11eb-9d34-802b6bf82f86.png)

Can you help ?
Many thanks

[2021-06-23 11:23] EkaanshArora commented on #29
The simulator doesn't support using the camera, please use a physical device to test.

[2021-06-24 01:54] nghia703 commented on #29
Yes, the issue was in physical device, I just screenshot the simulator to understand easier.

[2021-06-24 11:45] EkaanshArora commented on #29
Did you add permission text for camera and microphone is Xcode?

[2021-06-24 13:54] maxxfrazer commented on #29
Error 109 means the token expired, please use a valid token generated from a token server or a temporary token generated within 24 hours

[2021-06-24 16:33] nghia703 commented on #29
Thanks @maxxfrazer.

@EkaanshArora: I think it would be perfect the document should be updated by adding how to config the token in App.js

[2021-06-25 12:25] EkaanshArora commented on #29
Sure thing, I'll update the readme/wiki. Thanks for the feedback.

[2021-06-25 12:26] EkaanshArora commented on #28
To avoid confusion in the future, we'll remove the react-native files from this repo in the next release.

[2021-06-25 12:26] #28 closed

[2021-06-25 18:03] #23 closed

[2021-06-29 07:40] #29 closed

[2021-08-09 08:27] umairlive490 opened #32 "Local control icons not loading on iOS"
[](url)**Target device:** (Note: simulators are not supported for running the UIKit)
 - Device: [e.g. iPhone7 plus]
 - OS:
   - [X] IOS
 - OS Version: [14.3]

**App Info** (Note: Expo CLI managed workflow is not supported by the UIKit)
 - Type:
   - [X] React Native CLI
 - CLI Version: [2.0.1]

**Describe the issue**
Local control icons sometimes take up to 1 minute to show up

**To Reproduce**
St

[2021-08-09 09:04] maxxfrazer commented on #32
@EkaanshArora I don't remember seeing this when I ran it on iOS, have you seen this ever?

[2021-08-09 12:38] EkaanshArora commented on #32
I haven't seen this before, @umairlive490 are you using custom images for the icons?

[2021-08-10 06:59] umairlive490 commented on #32
@EkaanshArora No i am not using my own icons.I just used UIKit provided icons and here is my styleProps
 const videoStyleProp = {
    videoMode: {
      max: VideoRenderMode.Hidden,
      min: VideoRenderMode.Hidden,
    },
    localBtnContainer: {
      marginVertical: 20,
    },
    remoteBtnContainer: {
      display: 'none'
    },
    minViewContainer: {
      padding: 5,
      width: 200

[2021-08-16 12:36] umairlive490 commented on #32
@EkaanshArora It doesn't happen every time but some time this issue is occurring.
One more thing i wanted to make minView as square but on iOS it is not becoming square for equal height and width 200*200

[2021-08-16 15:51] EkaanshArora commented on #32
It's hard to help without being able to reproduce the issue. Can you confirm if you see this problem in the production build?

I used your styling (`minViewStyles: {height: 200, width: 200}`) in the above screenshot, it's running on an iPhone and appears to be square. I'm not sure I follow.

[2021-09-05 18:55] SunaPanaReloaded opened #33 "Can't find variable mode, role"
Newbie here.

Below is my code. I want to create a live stream using the plugin but when I  use `mode: mode.LiveBroadcasting` it says variable mode not found. I read your wiki and used the rtcProps.

`import React, { useState } from 'react';
import AgoraUIKit from 'agora-rn-uikit';

const App = () => {
  const [videoCall, setVideoCall] = useState(true);
  const rtcProps = {
    appId: 'APP_ID,

[2021-09-06 13:46] EkaanshArora commented on #33
They are enums that you can import from the library like so:
`import AgoraUIKit, {mode, role} from 'agora-rn-uikit';`

[2021-09-06 13:46] #33 closed

[2021-09-06 13:46] #32 closed

[2021-10-09 19:55] Asher978 opened #35 "Adding Custom Buttons // Remove/Change Default LocalControls"
Hello,

Is there a way to add custom buttons?
Is there a way to change/remove the default LocalControl?

How can we utilize the `<RtcConfigure>` component and add custom components?

[2021-10-10 13:25] EkaanshArora commented on #35
Hi @Asher978!
You can pass in custom base64 png for button icons in the styleProps using the [customIcon property](https://agoraio-community.github.io/ReactNative-UIKit/interfaces/stylepropinterface.html#customicon).
If you want to make your own button to perform some function you can use the btnTemplate component to create it and then [recompose the app](https://github.com/AgoraIO-Community/React

[2021-10-15 07:30] #35 closed

[2021-10-19 12:59] gtsopour opened #36 "ReactNative-UIKit with Banuba integration"
Hello guys,
do you have any suggestion or any ideas about a possible integration of ReactNative-UIKit with Banuba?

Best
George

[2021-10-20 18:46] EkaanshArora commented on #36
Hi, you'll have to use the underlying native iOS and Android SDKs to add [Banuba integration](https://www.agora.io/en/agora-extensions-marketplace/banuba/), we're looking into making this easier in the future, but it's not in our immediate roadmap.

[2021-10-20 18:46] #36 closed

[2021-10-20 20:47] gtsopour commented on #36
@EkaanshArora thanks a lot for your feedback. So practically you mean that I have to integrate natively first the Agora SDK with the Banuba SDK as it is described here https://www.banuba.com/faq/how-to-integrate-banuba-sdk-with-agora-sdk for both iOS and Android and then kind of adapt/rewrite the React Native Agora https://github.com/AgoraIO-Community/react-native-agora plugin over my native integ

[2021-10-26 22:30] Asher978 opened #37 "Event Listeners"
- Is there a way to listen to events such as one of the users on a one on one video call leaves?
- Also is there an option to show only Remote Stream?

[2021-10-27 18:44] #37 closed, assigned to EkaanshArora

[2021-11-06 22:06] Asher978 opened #40 "Inproper setState while executing Endcall Call Back"
I am getting the below error while creating a minimal example shown in your example.

`
Cannot update a component <Call /> while rendering a different component <RtcConfigure />. To locate the bad setState() call inside `RtcConfigure`, follow the stack trace ...
`

[code]

[2021-11-08 09:54] masa2el opened #41 "getting error 110"
**Target device:** (Note: simulators are not supported for running the UIKit)
 - Device: [Samsung Galaxy M31]
 - OS:
   - [ ] IOS
   - [x] Android
 - OS Version: [Android 11]

**App Info** (Note: Expo CLI managed workflow is not supported by the UIKit)
 - Type:
   - [X] React Native CLI
   - [ ] Expo CLI - bare workflow
 - CLI Version: [e.g. 22]

**Describe the issue**
getting error 110 in the con

[2021-11-08 10:36] masa2el commented on #41
fixed with passing the token parameter with the rtcProps

thank you

[2021-11-08 22:29] #41 closed

[2021-11-09 21:06] UmerQadri commented on #40
@Asher978 I am not having this issue but I noticed one thing. `mode` should be passed in rtcProps, not directly as `AgoraUIKit` prop

[2021-12-05 16:35] Asher978 commented on #40
@UmerQadri if you try to navigate to a different screen right after the call is ended, you will see the above error.

[2021-12-05 16:59] UmerQadri commented on #40
@Asher978 it doesn't happen to me. Try to remove the set state from the `EndCall` callback, I think this is causing the problem for some reason

[2021-12-06 10:45] EkaanshArora commented on #40
I'll take a look into this, but the warning should be safe to ignore. Is it causing any issues in your app?

[2022-01-04 14:28] #40 closed

[2022-01-19 03:30] ronny141 opened #48 "I need share screen in my app"
**Target device:** (Note: simulators are not supported for running the UIKit)
 - Device: [e.g. iPhone6]
 - OS:
   - [X] IOS
   - [X] Android
 - OS Version: [e.g. 22, 14.1]

**App Info**
 - Type:
   - [X] React Native CLI
   - [ ] Expo CLI (using custom development clients)
 - CLI Version: [e.g. 22]

**Describe the issue**
I need share screen in my app
someone has been able to share screen using th

[2022-01-19 17:23] EkaanshArora commented on #48
Screen sharing isn't part of the Agora React Native SDK yet. Once it's part of the official SDK, we'll add it to the UIKit.

[2022-01-19 17:23] #48 closed

[2022-02-01 06:43] syedfahadhussain-rn opened #52 "Getting Black screen with icons"
**Target device:** (Note: simulators are not supported for running the UIKit)
 - Device: [Honor 9n and emulator]
 - OS:
   - [ ] Android
 - OS Version: [Android 10]

**App Info**
 - Type:
   - [ ] React Native CLI
 - CLI Version: [0.66.4]

**Describe the issue**
 LOG  Running "AgoraSample" with {"rootTag":51}
 LOG  Attempted join:  TestCalling
 LOG  You can use the cameras & mic
 LOG  {"_listeners

[2022-02-01 06:46] syedfahadhussain-rn commented on #52
I have passing tokens and without token still getting the blank screen

[2022-02-01 12:45] parallelmedical opened #53 "Displaying multiple SurfaceView of same UID"
is is possible to render multiple surface views of the same UID? For example if using a gridview can you popup a modal with the same surface views? at the moment only the newest rendered surface-views actually show the video, the others go grey

[2022-02-02 14:04] EkaanshArora commented on #53
This isn't possible with the current SDK implementation. You can open a feature request at [react-native-agora](https://github.com/AgoraIO-Community/react-native-agora).

[2022-02-02 14:04] #53 closed

[2022-02-02 14:05] EkaanshArora commented on #52
Can you share your code?

[2022-02-02 14:43] syedfahadhussain-rn commented on #52
sure,
import React, {useState} from 'react';
import AgoraUIKit from 'agora-rn-uikit';
import { Text } from 'react-native';

const App = () => {
  const [videoCall, setVideoCall] = useState(true);
  const rtcProps = {
    appId: 'c6b259af0e404646ae6565f63a7c4263',
    channel: 'TestCalling',
    token:'006bc44e550dc5a4b7bb6877ffaa19b7b95IABpAhEywnuKqrGzv3++mk6UKHQ3N9o1WHfKn0dIqWPZt5WTzYEAAAAAEAD1z9

[2022-02-03 13:33] EkaanshArora commented on #52
Did you forget to render the UIKit?
[code]

[2022-02-08 06:21] syedfahadhussain-rn commented on #52
Yes I have rendered UIkit but it is not showing properly in comment @EkaanshArora .

[2022-02-08 09:13] EkaanshArora commented on #52
Do you get any errors in the console? It's hard to think of a possible issue with the limited information.

[2022-02-08 09:24] syedfahadhussain-rn commented on #52
@EkaanshArora ,

[2022-02-08 10:50] EkaanshArora commented on #52
Can you reproduce the issue with [this repo](https://github.com/AgoraIO-Community/ReactNative-UIKit-example) on your device? Can you also try this [sample app](https://github.com/AgoraIO-Community/agora-rn-quickstart)?

[2022-02-08 11:41] syedfahadhussain-rn commented on #52
I have tried to reproduce using the above repo but getting,

[2022-02-08 12:56] EkaanshArora commented on #52
I just did a fresh clone of the project, added my AppID and ran it on the Android Emulator. Works fine for me.

[2022-02-08 13:34] syedfahadhussain-rn commented on #52
Can you please tell me which example you have ran..? @EkaanshArora

[2022-02-08 15:35] EkaanshArora commented on #52
This one: https://github.com/AgoraIO-Community/ReactNative-UIKit-example

[2022-02-09 06:21] syedfahadhussain-rn commented on #52
@EkaanshArora

[2022-02-09 06:22] syedfahadhussain-rn commented on #52
@EkaanshArora

I have also tried to clone the project and facing error
  callback not found {"children": [<Context.Consumer>[Function anonymous]</Context.Consumer>, <ForwardRef(ScrollView) horizontal={true} showsHorizontalScrollIndicator={false} style={[Object]}><Context.Consumer … /></ForwardRef(ScrollView)>, <Controls />]}

[2022-02-10 05:12] syedfahadhussain-rn commented on #52
I have checked that agora won't supporting in android version more than 10 @EkaanshArora

[2022-02-10 05:12] #52 closed

[2022-03-06 12:24] technophilic opened #55 "Explore removing typeguards"
TypeScript 4.6  adds control flow analysis for Destructured Discriminated Unions. [link](https://devblogs.microsoft.com/typescript/announcing-typescript-4-6/#control-flow-analysis-for-destructured-discriminated-unions)

We can potentially explore this instead of the type guard system currently used in the reducer

[2022-03-21 11:13] thuantvDr4 opened #56 "android - camera no working"
I install package and rebuild
but, on android camera is not work, only have black screen.
please support for me.
thanks

[2022-03-21 16:19] EkaanshArora commented on #56
Can you fill this template?

**Target device:** (Note: simulators are not supported for running the UIKit)
 - Device: [e.g. iPhone6]
 - OS:
   - [X] IOS
   - [ ] Android
 - OS Version: [e.g. 22, 14.1]
 - UIKit Version: [eg 3.1.3]

**App Info**
 - Type:
   - [X] React Native CLI
   - [ ] Expo CLI (using custom development clients)
 - CLI Version: [e.g. 22]

**Describe the issue**
A clear and concis

[2022-03-23 04:10] thuantvDr4 commented on #56
thanks @EkaanshArora replied.
my demo screen when running on android
device info:
name: Huawei Y7 Prime
OS: android - 7.0;
packages:
"agora-rn-uikit": "^3.3.0",
    "react": "17.0.2",
    "react-native": "0.67.4",
    "react-native-agora": "^3.5.3"

[2022-03-23 06:52] thuantvDr4 commented on #56
Great!
I found root cause for the issue.
we must add token property for rtcProps
const rtcProps ={
   appId: '',
  channel: '',
 token: '',   // <--- this one
}
because, into guide usage base, not add.
![image](https://user-images.githubusercontent.com/24288310/159640215-96f6a714-4ac5-472d-ab5a-96cd28bd7357.png)

thank so much. I can close this issue

[2022-03-28 11:52] #56 closed

[2022-04-25 20:30] abisalde opened #62 "Agora Would Let App Build"
**Target device:** (Note: simulators are not supported for running the UIKit)
 - Device: [e.g. iPhone6]
 - OS:
   - [] IOS
   - [X ] Android
 - OS Version: [e.g. 22, 14.1]

**App Info**
 - Type:
   - [X] React Native CLI
   - [ ] Expo CLI (using custom development clients)
 - CLI Version: [e.g. 22]

**Describe the issue**
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Trying to run bu

[2022-04-28 07:56] srinath116 opened #63 "how to hide controls of remote user audio and video"
**Target device:** (Note: simulators are not supported for running the UIKit)
 - Device: Redmi note 9 pro
 - OS:

   - [X ] Android
 - OS Version: 22

**App Info**
 - Type:
   - [X] React Native CLI

**Describe the issue**
how to Remove the remote user audio and video controls  in agora ui Kit ,

**To Reproduce**
Steps to reproduce the behavior:
install ui kit
create a rtc token and join in a chan

[2022-04-28 20:01] EkaanshArora commented on #63
You can use [StyleProps](https://agoraio-community.github.io/ReactNative-UIKit/interfaces/stylepropinterface.html#remotebtncontainer) to set `remotebtncontainer` style as `display: none`

[2022-04-28 20:55] abisalde commented on #62
Hi @EkaanshArora,

I tried visiting this URL below, but was showing Not found, and I think it may have something to do with the URL

https://www.jitpack.io/com/github/agorabuilder/native-full-sdk/3.5.2/native-full-sdk-3.5.2.jar

[2022-04-29 16:00] EkaanshArora commented on #62
You're right, can you update your version of the sdk? `npm i react-native-agora`

[2022-04-29 16:42] abisalde commented on #62
OK, Thanks, Let me do just that

[2022-05-02 14:10] #62 closed, assigned to EkaanshArora

[2022-05-12 13:19] honey10597 opened #64 "RtcEvents"
Hello everyone,

can anyone help me to implement the RtcEvents listner.
For eg :- When particular users join or end call, some warning and error issues, etc.

How can I implement that? There is no documation for this .

[2022-05-18 12:57] EkaanshArora commented on #64
If you're using the v4 of the uikit, you can use the `rtcCallbacks` prop to add events example:
[code]
On v3 of the uikit, this prop is called `callbacks`

[2022-05-18 13:01] honey10597 commented on #64
Basically I am Implementing Live Streaming by using agora-rn-uikit. But unfortunality, I am unable to see the no. of audience or users who are currently watching my live session.

[2022-05-18 13:29] EkaanshArora commented on #64
Update to the v4.0.0 of the UIKit and use the RTM callbacks to get audience count like so:
[code]
RTM is only added in v4, so you'll have to update your code.

[2022-05-19 09:26] honey10597 commented on #64
I am getting an error.

[2022-05-19 09:29] honey10597 commented on #64
Getting an error  in **RtmConfigure.tsx**-- error file is attached with .

And not getting any callback in **rtmCallbacks**
My code is :-

![Screenshot 2022-05-19 at 2 58 03 PM](https://user-images.githubusercontent.com/42267565/169261261-2f547642-6c3b-4372-a0f6-862d1f8e2df9.png)
.

[2022-05-19 16:53] EkaanshArora commented on #64
The [connectionData](https://agoraio-community.github.io/ReactNative-UIKit/interfaces/ConnectionData.html) prop expects `rtcToken`, `rtcUid`, `rtmToken`, `rtmUid`.
Can you double check these value?

[2022-05-19 17:06] honey10597 commented on #64
yes. I have checked everything.I did everything according to your way also.
My RTM working fine with Native IOS Sdk , But gives Login failed error in only agora-rn-uikit. Problem is only with RTM. Except this, all things are working fine.

can you please recheck again ?

[2022-05-20 12:04] EkaanshArora commented on #64
Are you using two different `rtmUid`s and `rtcToken`s for the two clients? I'm unable to reproduce the issue. Used a new project with the proper tokens and it works across web and react-native.
![image](https://user-images.githubusercontent.com/10047883/169524447-2b461988-6d57-4fef-be07-eaaa42a0d4a8.png)

[2022-05-20 12:14] honey10597 commented on #64
Hello,
one to one and one to many video call is working fine.When I set the settings for live streaming rtm gives an error related to LOGIN FAILURE.

you can check at your side with my agora credentials.
APP ID : ac48dd62bef64f23b8bc13e6e7f08e09
CERTIFICATE : 2d8691e4128e4731a7e7776a45ab3d04

[2022-05-24 11:01] lexiconcpl opened #66 "UIkit enabling dual stream undefined"
" UIkit enabling dual stream undefined " , I am getting this while running  the same code explained in this link -https://github.com/AgoraIO-Community/ReactNative-UIKit#readme. Can any one help me on understanding what else I am missing

[2022-05-24 12:06] EkaanshArora commented on #66
Dual stream is an optional feature which is disabled by default, the log is safe to ignore. Are you facing any issues?

[2022-05-25 13:45] srinath116 opened #67 "Video not covering whole screen"
**Target device:** (Note: simulators are not supported for running the UIKit)
 - Device: Redmi note 9 pro max
 - OS:
   - [] IOS
   - [X] Android
 - OS Version: [e.g. 29]

**App Info**
 - Type:
   - [X] React Native CLI
   - [ ] Expo CLI (using custom development clients)
 - CLI Version: [e.g. .63.3]

**Describe the issue**
A clear and concise description of what the issue is.
 i have used agora k

[2022-05-26 11:50] EkaanshArora commented on #67
Can you add some sample code? With absolute positioning you either have to declare a parent view with `position: relative` to set as the container size, or explicitly define the width and height of the absolute view.
This isn't an issue with the UIKit, you'll need to accommodate the view in your layout. If you want to change the container style of the UIKit to add height/width, you can pass the st

[2022-05-26 15:04] srinath116 commented on #67
I have applied width and height explicitly for the absolute view ,already  but it is still not occupying the entire screen , even i tried the same with a modal but itz still d same

[2022-05-27 08:24] srinath116 commented on #67
@EkaanshArora  i have tried both the suggested solutions but it is not working as expected , i even tried it with seperate screen but still its same

[2022-05-27 14:03] EkaanshArora commented on #67
Are you able to render a simple absolute <View /> as you want?

[2022-05-27 15:29] srinath116 commented on #67
@EkaanshArora  yes i was able to  do if u can see the reference images the parent view occupied entire screen , but video container is not filling entire view

[2022-06-15 07:50] varun21s opened #69 "HELLO TEAM Using Agora UI KIT When I mute my video stream, the video still keeps showing on my local feed. How do I get it to disappear? Do I have to handle it locally by overlaying an image or something?"
HELLO TEAM
Using Agora UI KIT
When I mute my video stream, the video still keeps showing on my local feed. How do I get it to disappear? Do I have to handle it locally by overlaying an image or something?

[2022-06-15 10:13] 0mayur1 opened #70 "How to move minViewContainer"
i have a move  minViewContainer view in a screen

[2022-06-15 11:24] EkaanshArora commented on #70
You can pass styleProps to the AgoraUIKit component to change the style: https://agoraio-community.github.io/ReactNative-UIKit/interfaces/StylePropInterface.html#minViewContainer

[2022-06-15 11:24] EkaanshArora commented on #69
Updating to v4 of the UIKit should display a black screen with muted icon, when the video is muted.

I'll expose an API to customize the video placeholder screen in a future release.

[2022-06-15 11:25] #66 closed

[2022-06-15 11:25] #64 closed

[2022-06-20 08:55] ghana7989 opened #71 "Doubt: How to implement PIP mode"
How to implement PIP mode in RN UI kit

[2022-06-20 10:28] EkaanshArora commented on #71
PIP mode is a platform dependent API, there's isn't a direct way to implement it on react-native yet. That's why we don't support PIP in the UIKit. You can fork the project and write Android/iOS code to bridge the required methods and enable PIP for your project.

[2022-06-20 10:28] #71 closed

[2022-06-20 10:28] #70 closed

[2022-06-23 09:27] tungnt-ntq commented on #69
Hi team.
Using Agora UI KIT
I can't run UI kit on ios
I don't see any special config on ios. except Click File > New > File, select iOS > Swift File, and then click Next > Create to create a new File.swift file.

Don't know on ios need to add any permissions or config?

[2022-07-05 09:01] HalilFocic opened #73 "Task :app:processDEbugMainManifest FAILED"
**Target device:** RedMi Note 10 Pro
 - Device:  RedMi Note 10 Pro
 - OS: Android 11

 - Type: React Native

**Describe the issue**
I set up new react native project using npx react-native init MyProject and after installing react native agora and ui kit i get this error when building.

**Screenshots**

<img width="829" alt="Screenshot 2022-07-05 at 11 01 01" src="https://user-images.githubusercon

[2022-07-05 09:23] HalilFocic commented on #73
After googling I found out that Android 12 requires android:exported property which i need to add to agora and ui kit,but I really don't know how to find that file

[2022-07-07 07:01] #73 closed

[2022-08-08 09:09] honey10597 opened #76 "Does not get any rtc or rtm callback of user join to host , in the case of Live Streaming ."

[2022-08-20 03:36] PedroHenrike20 opened #78 "entering the call with muted audio and camera off"
Hello, could you let me know if it is possible to enter a video call with the audio muted and the camera turned off and so be only by the user's consent to want to activate them after the call has been initialized. I thank you for your attention!

[2022-09-10 05:53] srinath116 opened #80 "Callback not working"
**Target device:** (Note: simulators are not supported for running the UIKit)
 - Device: `xiaomi note 9 pro max`
 - OS:
   - [] IOS
   - [X] Android
 - OS Version:22

**App Info**
 - Type:
   - [X] React Native CLI
   - [ ] Expo CLI (using custom development clients)
 - CLI Version: [0.69]

**Describe the issue**
RtC call backs are not working with rtm login error

**To Reproduce**
Steps to reprod

[2022-09-13 22:04] LinusU opened #81 "RtcConnectionData uid doesn't accept string"
**Target device:** (Note: simulators are not supported for running the UIKit)
 - Device: iPhone 11 Pro
 - OS:
   - [X] IOS
   - [ ] Android
 - OS Version: 16.0

**App Info**
 - Type:
   - [ ] React Native CLI
   - [x] Expo CLI (using custom development clients)
 - CLI Version: SDK 45

**Describe the issue**
The TypeScript typings doesn't allow to pass `uid` as `string`, but I'm using string user i

[2022-09-14 16:58] EkaanshArora commented on #81
String UIDs are not supported by the UIKit - please use integers.

[2022-09-14 16:58] #81 closed

[2022-09-16 10:50] LinusU commented on #81
@EkaanshArora hmm, that is unfortunate since our server workflow tracks our users with string ids. Is there a specific reason why string ids aren't supported? Would a PR to fix this be acceptable, and is it something that I could work on?

[2022-09-29 13:19] Med-Ahmed-Kilani opened #85 "TypeError: undefined is not an object (evaluating '_reactNativeAgora.RtcLocalView.SurfaceView')"
- OS:
   - [] IOS
   - [X] Android
 - OS Version: [8.0.0]

**App Info**
 - Type:
   - [] React Native CLI
   - [X] Expo CLI (using custom development clients)
 - CLI Version: [46.0.6]

**Describe the issue**
Tried to run the example from the uikit description but I'm assuming that there is some incompatible typo with the new version

[2022-10-04 11:37] HalilFocic commented on #80
I am having the same issue,I will let you know if I resolve it. Please do the same as well ❤️

[2022-10-04 21:56] srinath116 commented on #80
@HalilFocic  you need to pass `disableRtm : true`  in  connectionData props

[2022-10-04 21:58] srinath116 commented on #85
@Med-Ahmed-Kilani  try downgrading agora version to 3.7.x

[2022-10-05 11:54] #85 closed

[2022-10-05 11:54] EkaanshArora commented on #80
Are you using tokens?

[2022-10-05 15:32] srinath116 commented on #80
@EkaanshArora  for  rtc yes

[2022-10-05 22:08] EkaanshArora commented on #80
If you want to use features like displaying usernames you can enable RTM and pass in an RTM token with the correct UID.
I'll add removing button text as a feature request.

[2022-10-05 22:08] #80 closed

[2022-10-05 22:09] EkaanshArora opened #87 "Feature Request: Make button text optional"
Based on #80, it would be nice to add a prop to hide button labels. This can be an intermediate step to supporting i18n.

[2022-10-05 22:11] EkaanshArora commented on #76
Can you provide some more information?

[2022-10-05 22:11] #69 closed

[2022-10-13 07:25] marcsumilang opened #90 "Example SurfaceView Error: EXPO DEV CLIENT"
![image](https://user-images.githubusercontent.com/47217877/195529206-748684df-c376-42ff-ae36-bd92330816e2.png)
![image](https://user-images.githubusercontent.com/47217877/195529791-0bf22e0a-26dc-4a53-b85f-44eb7a6cb3ef.png)

packages:
    "react": "18.0.0",
    "react-native": "0.69.6",
    "expo": "46.0.13"
    "agora-react-native-rtm": "^1.5.0",
    "react-native-agora": "^4.0.0",
    "agora-rn-

[2022-10-20 09:53] tuledu opened #92 "username is not displayed when passing token to connectionData"
Currently I am having 1 issue about aogra-ui-kit.
If I pass tokenUrl into connectionData, username's displayed.
If I pass token into connectionData, username's not displayed anymore.
I checked in source code, and I see when I pass tokenUrl, then 2 events "MessageReceived" and "ChannelMessageReceived" will be listened, and username will be set,
else if I pass token, then 2 events will be not listen

[2022-10-30 01:09] kchurch98 commented on #90
Apparently uikit is only supported with react-native-agora <=3.7.x

[2022-11-08 11:01] teefortayyab opened #94 "RTC callbacks UserMuteVideo,RemoteVideoStateChanged and UserEnableVideo are not triggered."
I have been trying to use agora's RTC Callbacks to detect remote user's video stream status using UserMuteVideo,RemoteVideoStateChanged and UserEnableVideo callbacks but I am unable to get any callback triggered when the remote user is pausing/resuming the video.

[2022-11-08 23:01] EkaanshArora commented on #94
can you share a code snippet?

[2022-11-08 23:01] EkaanshArora commented on #92
are you passing both the RTC & RTM tokens?

[2022-11-08 23:02] #90 closed

[2022-11-09 07:17] teefortayyab commented on #94
@EkaanshArora  I have been facing issues customizing design view with the default import of the package, So, I used separate components to customize the design accordingly to requirements. Everything is working fine except some callbacks.

Working callbacks are EndCall, UserJoined, UserOffline. But UserMuteVideo,RemoteVideoStateChanged and UserEnableVideo are not triggered when the remote user is

[2022-11-09 07:20] teefortayyab commented on #94
@EkaanshArora
[code]

[2022-11-09 09:40] EkaanshArora commented on #94
This looks like a bug, I’m out of office so I can try and fix this next week. In the meantime you can access the engine from the RtcContext and attach the event listener manually.

[2022-11-09 09:50] teefortayyab commented on #94
@EkaanshArora Can you share any example for How can I attach a listener manually from RtcContext?

[2022-11-14 07:41] teefortayyab commented on #94
@EkaanshArora Can you share any update or steps so that I can use RTC event in my application?

[2022-11-15 12:03] EkaanshArora commented on #94
You can look at [this file](https://github.com/EkaanshArora/RN-UIKit-Screenshare/blob/main/src/CustomButton.tsx) for an example of how to access the rtcEngine.
Here's a snippet to listen for an event:
[code]

I'll try and fix this in the coming week, so you can just use the callbacks object.

[2022-11-16 10:58] elenitaex5 opened #95 "[QUESTION]"
**Target device:** (Note: simulators are not supported for running the UIKit)
 - Device: [e.g. iPhone6]
 - OS:
   - [X] IOS
   - [ ] Android
 - OS Version: [e.g. 22, 14.1]

**App Info**
 - Type:
   - [X] React Native CLI
   - [ ] Expo CLI (using custom development clients)
 - CLI Version: [e.g. 22]

**Describe the issue**
A clear and concise description of what the issue is.

**To Reproduce**
Step

[2022-11-16 10:59] elenitaex5 opened #96 "[QUESTION] There's a way to having blur video backgrounds in VideUIKit?"
Hi! thanks for reading me.
I know there's a way to have blur video backgrounds in React Native (read in Agora blog), but I was wonder if there's a way to do it in VideoUIKit??
Thanks

[2022-11-16 11:00] #95 closed

[2022-11-17 12:43] JonatanSalas opened #97 "[Question] - Is it possible to define the UI Mode like fixed portrait or fixed landscape?"
Hi! Thank you very much for you great library. I would like to know if its possible to define the encoder config to be fixed in portrait or landscape.

[2022-11-21 07:39] partikshadubb opened #98 "activeSpeaker not working"
Hye dev, we are implementing activeSpeaker functionality in our app. when we set activeSpeaker true then its not working.

We want switch host automatically large view when It start talking.

[2022-11-23 09:59] elenitaex5 opened #100 "ERROR 1017 on EXPO"
**Target device:** (Note: simulators are not supported for running the UIKit)
 - Device: [e.g. iPhone6]
 - OS:
   - [] IOS
   - [X] Android
 - OS Version: [11]

**App Info**
 - Type:
   - [] React Native CLI
   - [X] Expo CLI (using custom development clients)
 - CLI Version: [SDK 45]

**Describe the issue**
Hi! I'm using VideoUIKit-React Native.
Following the instructions with only Agora Video Co

[2022-11-24 20:30] MahmudHasanMenon opened #101 "How to end call to reciever when sender Ends up the call"
**Target device:** (Note: simulators are not supported for running the UIKit)
 - Device: [e.g. iPhone6]
 - OS:
   - [X] IOS
   - [ ] Android
 - OS Version: [e.g. 22, 14.1]

**App Info**
 - Type:
   - [X] React Native CLI
   - [ ] Expo CLI (using custom development clients)
 - CLI Version: [e.g. 22]

**Describe the issue**
A clear and concise description of what the issue is.

**To Reproduce**
Step

[2022-11-25 11:34] partikshadubb opened #103 "username getting null"
![Screenshot 2022-11-25 at 5 01 44 PM](https://user-images.githubusercontent.com/79891951/203976752-39d411f9-dea3-4710-8392-013207eefe18.png)

[2022-11-26 18:07] MahmudHasanMenon commented on #101
@EkaanshArora  please help me.